.slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  user-select: none;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container.before {
  z-index: 1;
  overflow: hidden;
}

.image-container.before img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 300px, 400px, 0);
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #fff;
  z-index: 2;
  transform: translateX(-50%);
  cursor: ew-resize;
}

.slider-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: ew-resize;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  position: absolute;
  z-index: 4;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  pointer-events: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.info-text.info-text-before {
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.info-text.info-text-after {
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.info-text-span {
}

